[user]
	name = Eike Kettner
	email = eike.kettner@posteo.de
[core]
	excludesfile = ~/.git.global.ignore
	autocrlf = input
	editor = emacsclient -nw

[color]
	ui = true
[log]
	decorate = short
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[github]
	user = eikek
